.tagesschrift-regular {
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
  }
.rubik-dirt-regular {
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
.lexend-giga{
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.baumans-regular {
  font-family: "Baumans", system-ui;
  font-weight: 400;
  font-style: normal;
}

.oxanium {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.m-plus-1-code{
  font-family: "M PLUS 1 Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.chela-one-regular {
  font-family: "Chela One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.federo-regular {
  font-family: "Federo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.aref-ruqaa-ink-bold {
  font-family: "Aref Ruqaa Ink", serif;
  font-weight: 700;
  font-style: normal;
}
.savate {
  font-family: "Savate", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}





  
  